


<!-- Vendor js -->
<script src="../assets/js/vendor.min.js"></script>

<!-- knob plugin -->
<script src="../assets/libs/jquery-knob/jquery.knob.min.js"></script>

<!-- 
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script> -->


<!--Morris Chart-->
<script src="../assets/libs/morris-js/morris.min.js"></script>
<script src="../assets/libs/raphael/raphael.min.js"></script>


<!-- App js-->
<script src="../assets/js/app.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>


<!-- third party js -->
<script src="../assets/libs/datatables/jquery.dataTables.min.js"></script>
<script src="../assets/libs/datatables/dataTables.bootstrap4.js"></script>
<script src="../assets/libs/datatables/dataTables.responsive.min.js"></script>
<script src="../assets/libs/datatables/responsive.bootstrap4.min.js"></script>
<script src="../assets/libs/datatables/dataTables.buttons.min.js"></script>
<script src="../assets/libs/datatables/buttons.bootstrap4.min.js"></script>
<script src="../assets/libs/datatables/buttons.html5.min.js"></script>
<script src="../assets/libs/datatables/buttons.flash.min.js"></script>
<script src="../assets/libs/datatables/buttons.print.min.js"></script>
<script src="../assets/libs/datatables/dataTables.keyTable.min.js"></script>
<script src="../assets/libs/datatables/dataTables.select.min.js"></script>


   <!-- Sweet Alerts js -->
          <script src="../assets/libs/sweetalert2/sweetalert2.min.js"></script>

          <!-- Sweet alert init js-->
          <script src="../assets/js/pages/sweet-alerts.init.js"></script>


     <!-- Toastr js -->
       <script src="../assets/libs/toastr/toastr.min.js"></script>
       <script src="../assets/js/pages/toastr.init.js"></script>


<!-- FOR IE -->
<!-- Video JS -->
<script src="../../custom/js/video_js/videojs-ie8.min.js"></script>


<script src="../../custom/js/video_js/video.js"></script>
<script src="../../custom/js/video_js/videojs-contrib-hls.js"></script>

<script src="../../custom/js/video_js/videojs-contrib-hls.min.js"></script>

<script src="../../custom/js/video_js/videojs-quality-menu.min.js"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-flash/2.2.1/videojs-flash.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-flash/2.2.1/videojs-flash.js"></script> -->

<script src="../../custom/js/video_js/videojs-live-dvrux.min.js"></script>

<script src="../../custom/js/video_js/videojs-contrib-quality-levels.min.js"></script>

<script src="../../custom/js/aws/ec2.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>


  <!-- knob plugin -->
  <script src="../assets/libs/jquery-knob/jquery.knob.min.js"></script>

  <!--Morris Chart-->
  <script src="../assets/libs/morris-js/morris.min.js"></script>
  <script src="../assets/libs/raphael/raphael.min.js"></script>

  <!-- Dashboard init js-->
  <script src="../assets/js/pages/dashboard.init.js"></script>


<script>
       $(document).ready(function () {
     
         // temp code
         var x = localStorage.getItem("isEnlarged");
         if (x === 'yes') {
           $("#body-content").addClass('enlarged');
         }
     
       });
     
       function toggleSidebar() {
         $("#body-content").toggleClass("enlarged");
     
         // temp code
         if ($("#body-content").hasClass("enlarged")) {
           localStorage.setItem('isEnlarged', 'yes');
         } else {
           localStorage.setItem('isEnlarged', 'no');
         }
       }
     
     
       $(".toggle-sidebar").click(function () {
         toggleSidebar()
       });
     
     
      
     </script>