<!-- Topbar Start -->
<div class="navbar-custom text-white">
    <div class="container-fluid">

        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">

                <!-- LOGO -->
                <div class="logo-box mt-0">
                    <a href="/v1/server" class="logo text-center">
                        <span class="logo-lg">
                            <img src="../assets/images/Skandha-White.png" style="height: 51px;margin-bottom: 17px;"
                                alt="" height="16">
                            <!-- <span class="logo-lg-text-light">UBold</span> -->
                        </span>
                        <!-- <span class="logo-sm">
                          
                            <img src="../assets/images/Skandha-White.png" style="height: 51px;" alt="" height="24">
                        </span> -->
                    </a>
                </div>

              

                <li class="has-submenu">
                    <a href="/v1/analytics"> <i class="mdi mdi-google-analytics"></i>Analytics</a>

                </li>

                <li class="has-submenu">
                    <a href="/v1/server"> <i class="mdi mdi-server-network"></i>Server</a>

                </li>



                <li class="has-submenu">
                    <a href="/v1/livestreaming"> <i class="mdi mdi-monitor"></i>Live Streaming</a>
                </li>

                <li class="has-submenu">
                    <a href="/v1/monitoring"> <i class="mdi mdi-monitor-star"></i>Monitoring</a>

                </li>

            </ul>



            <ul class="list-unstyled topnav-menu float-right mb-0">

                <li class="has-submenu">
                    <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" style="margin-top: -8px;" data-toggle="dropdown" href="#"
                        role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="../assets/images/users/user-1.jpg" alt="user-image" class="rounded-circle">
                         
                        <% if (userData !== '') { %>
                            <span class="pro-user-name ml-1"><%=userData.idToken.payload.name%><i
                                    class="mdi mdi-chevron-down"></i></span>
                            <% } else { %>
                            <span class="pro-user-name ml-1">
                                User <i class="mdi mdi-chevron-down"></i>
                            </span>
                            <% }  %>
                     
                        <!-- <span class="pro-user-name ml-1">
                            jpatil@skandha.in <i class="mdi mdi-chevron-down"></i>
                        </span> -->
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                        <!-- item-->
                        <div class="dropdown-header noti-title">
                            <h6 class="text-overflow m-0">Welcome !</h6>
                        </div>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="fe-user"></i>
                            <span>My Account</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="fe-settings"></i>
                            <span>Settings</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="fe-lock"></i>
                            <span>Lock Screen</span>
                        </a>

                        <div class="dropdown-divider"></div>

                        <!-- item-->
                        <a href="/logout" class="dropdown-item notify-item">
                            <i class="fe-log-out" id="logout" class="logout"></i>
                            <span>Logout</span>
                        </a>

                    </div>
                </li>


            </ul>
            <!-- End navigation menu -->


        </div>
        <!-- end #navigation -->




    </div> <!-- end container-fluid-->
</div>
<!-- end Topbar -->