<% include /partials/header.html %>

<style>  
    
    .custome-button {
            background-color: #ec7211 !important;
            color: #fff !important;
            border: 1px solid#ec7211 !important;
        }
    
        .force-hidden {
        display: none;
    }
    
    .left-side-menu {
        width: 240px;
        background: #323a46;
        bottom: 0;
        padding: 20px 0;
        position: fixed;
        -webkit-transition: all .2s ease-out;
        transition: all .2s ease-out;
        top: 70px;
        -webkit-box-shadow: 0 0 24px 0 rgba(0,0,0,.06), 0 1px 0 0 rgba(0,0,0,.02);
        box-shadow: 0 0 24px 0 rgba(0,0,0,.06), 0 1px 0 0 rgba(0,0,0,.02);
        z-index: 99;
    }
    
    .logo-box {
        height: 70px;
        width: 240px;
        float: left;
        background-color: #323a46;
    }
    
    .nav-second-level li a, .nav-thrid-level li a {
        padding: 8px 20px;
        color: #fff;
        display: block;
        position: relative;
        -webkit-transition: all .4s;
        transition: all .4s;
    }
    
    li.active>a {
        color: #fff !important;
    }
    
    #sidebar-menu>ul>li>a {
        color: #fff;
        display: block;
        padding: 13px 20px;
        position: relative;
        -webkit-transition: all .4s;
        transition: all .4s;
        font-size: .925rem;
    }
    
        </style>





   <!-- Pre-loader -->
   <div id="preloader">
    <div id="status">
        <div class="spinner">Loading...</div>
    </div>
</div>
<!-- End Preloader-->


<!-- Begin page -->
<div id="wrapper">

     <!-- Topbar Start -->
     <div class="navbar-custom">
        <ul class="list-unstyled topnav-menu float-right mb-0">

            <li class="d-none d-sm-block">
                <form class="app-search">
                    <div class="app-search-box">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search...">
                            <div class="input-group-append">
                                <button class="btn" type="submit">
                                    <i class="fe-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </li>

            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle  waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <i class="fe-bell noti-icon"></i>
                    <span class="badge badge-danger rounded-circle noti-icon-badge">9</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-lg">

                    <!-- item-->
                    <div class="dropdown-item noti-title">
                        <h5 class="m-0">
                            <span class="float-right">
                                <a href="" class="text-dark">
                                    <small>Clear All</small>
                                </a>
                            </span>Notification
                        </h5>
                    </div>

                    <div class="slimscroll noti-scroll">

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item active">
                            <div class="notify-icon">
                                <img src="../assets/images/users/user.svg" class="img-fluid rounded-circle" alt="" /> </div>
                            <p class="notify-details">Cristina Pride</p>
                            <p class="text-muted mb-0 user-msg">
                                <small>Hi, How are you? What about our next meeting</small>
                            </p>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-primary">
                                <i class="mdi mdi-comment-account-outline"></i>
                            </div>
                            <p class="notify-details">Caleb Flakelar commented on Admin
                                <small class="text-muted">1 min ago</small>
                            </p>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon">
                                <img src="../assets/images/users/user-4.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                            <p class="notify-details">Karen Robinson</p>
                            <p class="text-muted mb-0 user-msg">
                                <small>Wow ! this admin looks good and awesome design</small>
                            </p>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-warning">
                                <i class="mdi mdi-account-plus"></i>
                            </div>
                            <p class="notify-details">New user registered.
                                <small class="text-muted">5 hours ago</small>
                            </p>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-info">
                                <i class="mdi mdi-comment-account-outline"></i>
                            </div>
                            <p class="notify-details">Caleb Flakelar commented on Admin
                                <small class="text-muted">4 days ago</small>
                            </p>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-secondary">
                                <i class="mdi mdi-heart"></i>
                            </div>
                            <p class="notify-details">Carlos Crouch liked
                                <b>Admin</b>
                                <small class="text-muted">13 days ago</small>
                            </p>
                        </a>
                    </div>

                    <!-- All-->
                    <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                        View all
                        <i class="fi-arrow-right"></i>
                    </a>

                </div>
            </li>

            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <img src="../assets/images/users/user.svg" alt="user-image" class="rounded-circle">
                    <span class="pro-user-name ml-1">
                       Admin <i class="mdi mdi-chevron-down"></i> 
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                    <!-- item-->
                    <div class="dropdown-header noti-title">
                        <h6 class="text-overflow m-0">Welcome !</h6>
                    </div>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-user"></i>
                        <span>My Account</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-settings"></i>
                        <span>Settings</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-lock"></i>
                        <span>Lock Screen</span>
                    </a>

                    <div class="dropdown-divider"></div>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-log-out"></i>
                        <span>Logout</span>
                    </a>

                </div>
            </li>

            <li class="dropdown notification-list">
                <a href="javascript:void(0);" class="nav-link right-bar-toggle waves-effect">
                    <i class="fe-settings noti-icon"></i>
                </a>
            </li>


        </ul>

        <!-- LOGO -->
        <div class="logo-box">
            <a class="logo text-center">
                <span class="logo-lg">
                    <img src="../../assets/images/Skandha-White.png" alt="Skandha" height="60">
                    <!-- <span class="logo-lg-text-light">Xeria</span> -->
                </span>
    
                <!-- <span class="logo-sm">
                   
                    <img src="../../images/Skandha-White.PNG" alt="" height="24">
    
                </span> -->
    
            </a>
    
        </div>

        <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
            <li>
                <button class="button-menu-mobile disable-btn waves-effect">
                    <i class="fe-menu"></i>
                </button>
            </li>

            <li>
                <h4 class="page-title-main"></h4>
            </li>

        </ul>
    </div>
    <!-- end Topbar -->

    <!-- ========== Left Sidebar Start ========== -->
    <div class="left-side-menu">

        <div class="slimscroll-menu">

            <!-- User box -->
            <div class="user-box text-center">
                <img src="../assets/images/users/user.svg" alt="user-img" title="Mat Helme" class="rounded-circle img-thumbnail avatar-lg">
                <div class="dropdown">
                    <a href="#" class="text-light dropdown-toggle h5 mt-2 mb-1 d-block" data-toggle="dropdown">Admin</a>
                    <div class="dropdown-menu user-pro-dropdown">

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="fe-user mr-1"></i>
                            <span>My Account</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="fe-settings mr-1"></i>
                            <span>Settings</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="fe-lock mr-1"></i>
                            <span>Lock Screen</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="fe-log-out mr-1"></i>
                            <span>Logout</span>
                        </a>

                    </div>
                </div>
                <p class="text-muted">Admin Head</p>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#" class="text-muted">
                            <i class="mdi mdi-settings"></i>
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <a href="#" class="text-custom">
                            <i class="mdi mdi-power"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <!--- Sidemenu -->
            <div id="sidebar-menu">

                <ul class="metismenu" id="side-menu">

                    <!-- <li class="menu-title">Navigation</li> -->

                 


                    <li>
                        <a href="javascript: void(0);">
                            <i class="mdi mdi-view-dashboard"></i>
                            <span class="badge badge-warning float-right">2</span>
                            <span> Live Event </span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="/v1/medialive">Inputs</a></li>
                            <li><a href="/v1/primaryChannelListing">Channel Listing</a></li>
                            <!-- <li><a href="/v1/inputSecuritylisting">Input Security Groups</a></li> -->
                          
                         
                        </ul>
                    </li>



                    <!-- <li>
                        <a href="javascript: void(0);">
                            <i class="mdi mdi-texture"></i>
                            <span class="badge badge-warning float-right">2</span>
                            <span> Mediapackage </span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="/v1/mediapackageChannelListing">Channel Listing</a></li>
                            <li><a href="/v1/createEndpoints">Endpoints</a></li>
                         
                        </ul>
                    </li>
-->

                </ul>

            </div>
            <!-- End Sidebar -->

          
        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">
            <div class="row">
                <div class="col-md-12" id="channel-listing-div">
                    <div class="card-box">
                        <div class="dropdown float-right">
                            <!-- <a href="/v1/viewsource">
                                <button  class="btn custome-button waves-effect waves-light btn-sm">Start</button>
                            </a> -->

                            <!-- <a href="/v1/viewsource">
                                <button  class="btn custome-button waves-effect waves-light btn-sm">Stop</button>
                            </a> -->

                           <a href="/v1/mediaPackagecreateChannel">
                            <button  class="btn custome-button waves-effect waves-light btn-sm">Create Channel</button>
                        </a>

                        <!-- <a href="/v1/createInput">
                            <button  class="btn custome-button waves-effect waves-light btn-sm">Create Input</button>
                        </a> -->
                        </div>
                        <h4 class="mt-0 header-title">Channels</h4>
                        <p class="text-muted font-14 mb-3">
                          
                        </p>

                        <div class="table-responsive">
                            <table class="table tablesorter" aria-describedby="datatable_info"  id="channellisting_table">
                               
                                  
                                        <thead>
                                            <tr>
                                                <!-- <th>Action</th> -->
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>State</th>
                                                <th>Output URL</th>
                                                <th>Play Url</th>
                                                <th></th>
                                                <th></th>
                                                
                                               
                                               

                                            </tr>
                                        </thead>
                                        <tbody id="channellisting_tbody">
                                        </tbody>
                                    
                               
                            </table>
                        </div>
                        </div>
                        
                    </div>

                    <div class="force-hidden col-md-4" style="height:477px;overflow-y:auto;background-color: white;" id="edit-asset-div">
    
                        <!-- <div class=""> -->
                        <i class="mdi mdi-close-circle" style="font-size: 27px;" id="close-edit-metadata-panel-btn"></i>
                        <!-- </div> -->
        
                        <div class="row">
                            <div class="col-md-11">
                                <h4 id="edit-asset-title" style="margin: 6px 0;"></h4>
                            </div>
                        </div>
        
                       
        
                        <ul class="nav nav-tabs nav-justified mt-2">
                            <li class="nav-item">
                                <a href="#technical-data" data-toggle="tab" aria-expanded="true" class="nav-link active">
                                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                    <span class="d-none d-sm-block"><i class="mdi mdi-square-edit-outline mr-1"></i>Channel Endpoints</span>
                                </a>
                            </li>
                        </ul>
        
                        <div class="" style="display:visible! important">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active show" id="technical-data">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                
                  <!-- Preview video modal content -->
<div id="play-video-channel" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="asset-title"
aria-hidden="true">
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">

            <h4 class="modal-title">
                <i class="mdi mdi-play-speed"></i>Preview Channel
            </h4>

            <button type="button" class="close close-modal-btn" data-dismiss="modal" aria-hidden="true"
                onclick="player.reset()">×</button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12" id="divPlayVideo">
                    <video id="channelurlplayer"
                        class="w-100 video-js vjs-default-skin vjs-big-play-centered" controls
                        preload="auto" height="350" data-setup='{"liveui": true}'>
                        <source src="" type="">
                    </video>
                    <h5 class="modal-title preview-modal-asset-title" id="preview-modal-asset-title"></h5>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-xs btn-secondary waves-effect" data-dismiss="modal"
                onclick="player.reset()">Close</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
                </div>

                </div>

                
                
            </div> <!-- container -->

        </div> <!-- content -->

      <!-- Footer Start -->
      <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                   2020 &copy; Live Events by <a href="">Skandha</a> 
                </div>
                <div class="col-md-6">
                    <div class="text-md-right footer-links d-none d-sm-block">
                        <a href="javascript:void(0);">About Us</a>
                        <a href="javascript:void(0);">Help</a>
                        <a href="javascript:void(0);">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->

    </div>


<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->







<% include ./partials/foot.html %>



<script src="../../custom/js/create_channel/create_channel.js"></script>

</body>

</html>